{% extends 'base/base.html' %}

{% block title %}Product List{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Склад</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Склад</a></li>
                            <li><a href="#">Продукты</a></li>
                            <li class="active">Изменить</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Изменить продукт</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form action="#" method="post" novalidate="novalidate" id="product-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="nomi" class="control-label mb-1">Название</label>
                                {{ form.nomi }}
                            </div>
                            <div class="form-group" id="id_tur">
                                <label for="tur" class="control-label mb-1">Цена</label>
                                {{ form.narxi }}
                            </div>
                            <div class="form-group">
                                <label for="kategoriya" class="control-label mb-1">Категория</label>
                                {{ form.kategoriya }}
                            </div>
                            <div class="form-group">
                                <label for="miqdor_birligi" class="control-label mb-1">Единица измерения</label>
                                {{ form.ulchov_birligi }}
                            </div>
                            
                            <div>
                                <button id="create-product-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <span id="payment-button-amount">Сохранить</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> <!-- .card -->
    </div><!--/.col-->
</div>
{% endblock content %}